.App {
    text-align: center;
  }
  
  .popup2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    background-color: white;
  
    
  
    border: 1px solid black;
    z-index: 999;
  }

  .center{
    position: absolute;
    top: 40px;
    left: 100px;
    width: 320px;
    height: 40px;
    background-color: rgb(113, 247, 113);
    border-radius: 25px;
    padding: 10px;
  }

  .circle{
    position: absolute;
    top: 38px;
    left: 422px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;

  }
  
  .input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .button{
    color: red;
  }